.encabezado{
    width: 100%;
    height: 66vh;
    background-image: url("../img/logo1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
body{
    margin: 0;
}
.encabezado h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    line-height: 125%;
    letter-spacing: 12px;
}
.encabezado .logo{
    display: flex;
    position: relative;
    top: 140px;
    width: 100%;
    justify-content: center;
    max-width: 850px;
    background-color: #EED870;
    z-index: 0;
}